<head>
	<!-- Responsive and required -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Styling -->{% if site.css == dark %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@latest/out/dark.min.css"> {% elsif site.css == light %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@latest/out/light.min.css"> {% else %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@latest/out/water.min.css"> {% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Primary Meta Tags -->
	<title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
	<meta name="title" content="{{ page.title | default: site.title | default: site.github.repository_name }}">
	<meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}">
	<!-- Open Graph / Facebook -->
	<meta property="og:title" content="{{ page.title | default: site.title | default: site.github.repository_name }}">
	<meta property="og:description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}">
	<!-- Twitter -->
	<meta property="twitter:title" content="{{ page.title | default: site.title | default: site.github.repository_name }}">
	<meta property="twitter:description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"> 
  </head>
